<%- include ('../includes/header') %>



<table border="1">
    <tr>
        <th>nome_cliente</th>
        <th>data</th>
        <th>nome_vendedor</th>
        <th>proximo_passo</th>
    </tr>

    <%resultado.forEach(column =>{%>


        <tr>
            <td><%=column.nome_cliente%></td>
            <td><%=column.data%></td>
            <td><%=column.nome_vendedor%></td>
            <td><%=column.proximo_passo%></td>

        </tr>


    <%})%>




</table>



<%- include ('../includes/footer') %>
